*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: #000;
    /* background-image: url(''); */
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font: 1rem;
}
a:hover{
    color: antiquewhite;
}

/* Header */
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60%;
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.logo{
    width: 60px;
    height: 60px;
    padding: 7px;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.links{
    padding-right: 10px;
}
.navbar .links{
    display: flex;
    gap: 5rem;
}

.navbar a:hover,
.navbar a.active{
    color: #f1c40f;
    border-bottom: 3px solid #f1c40f;
}